body {
    font-family: sans-serif;
    margin: 0;
}

.container {
    display: flex;
    min-height:
        100vh;
    align-items: stretch;
}

.column {
    background: whitesmoke;
    display:
        flex;
    flex-direction: column;
    justify-content:
        center;
    align-items: center;
    flex: 1;
}

.btn {
    height: 80px;
    width: 160px;
    margin-bottom: 20px;
    color: black;
    border-color: red;
    font-size: larger;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}